body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
  }
  
  /* Dark mode styles */
  body.dark {
    background-color: #121212;
    color: #ffffff;
  }
  
  /* Navbar in dark mode */
  body.dark ul {
    background-color: #222;
  }
  
  body.dark li a {
    color: #ffffff;
  }
  
  body.dark li a:hover {
    background-color: #444;
  }
  
  /* Global Button Styling */
  button {
    padding: 10px 20px;
    background-color: #ff8c42;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #ff5722;
  }
  